@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
.social a {
  text-align: center;
  width: 48px;
  height: 48px;
  float: left;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), inset 0 0 50px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  margin: 0 10px 10px 0;
  padding: 6px;
  color: #000;
}

.vk a:hover {
  background: #5d84ae;
  color: #fff;
}
.telegram a:hover {
  background: #249bd7;
  color: #fff;
}
.whatsapp a:hover {
  background: #50b154;
  color: #fff;
}

.container-fluid {
  min-height: 100%;
  flex: 1 0 auto;
}
.container {
  min-height: 100%;
  flex: 1 0 auto;
}

/* .price-info {
  width: 100%;
  margin-left: 20px;
  position: relative;
} */
/* .price-wrapper {
  margin-top: 10px;
  margin-left: 10px;
  display: block;
  padding: 5px 5px 10px 10px;
  border-radius: 10px;
  width: 300px;
  height: 108px;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 10px 3px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 10px 3px rgba(34, 60, 80, 0.2);
  display: flex;
  justify-content: center;
  margin-top: 10px;
  border-top: 1px solid lightgrey;
} */

/* .course-wrapper {
  width: 100%;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 10px 3px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 10px 3px rgba(34, 60, 80, 0.2);
  border-radius: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
} */

.course-item {
  -webkit-box-shadow: 0px 0px 10px 3px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 10px 3px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 10px 3px rgba(34, 60, 80, 0.2);
  border-radius: 20px;
  transition: 0.4s;
}

.course-item:hover {
  filter: brightness(90%);
  background-color: #f7f7f7;
  transform: scale(1.01);
}

/* #root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
} */

.carousel-inner {
  height: 100%;
}

.carousel-caption h3 {
  color: rgb(255, 255, 255);

  font-family: "Inter", sans-serif;
}

@media screen and (max-width: 540px) {
  .carousel-caption h3 {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
  }
}

.footer {
  /* flex: 0 0 auto; */
  height: 200px;
  background-color: rgb(237, 237, 237);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-wrapper {
  display: flex;
}

.course-page-wrapper {
  padding-left: 30px;
  padding-bottom: 30px;
  width: 100%;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 10px 3px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 10px 3px rgba(34, 60, 80, 0.2);
  border-radius: 20px;
  margin-bottom: 30px;
}

@media screen and (max-width: 1200px) {
  .course-wrapper {
    height: fit-content;
    justify-content: center;
  }
  .course-item {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .price-info {
    margin-left: 0;
    margin: 0 auto;
  }

  .price-wrapper {
    margin-left: 0;
    position: relative;
    padding: 5px 5px 10px 10px;
  }
  .course-item img {
    margin: 0 auto;
    height: 150px;
    width: 340px;
  }
}

@media screen and (max-width: 668px) {
  .course-wrapper {
    height: fit-content;
    justify-content: center;
  }
  .course-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .price-info {
    margin-left: 0;
    margin: 0 auto;
  }

  .price-wrapper {
    margin: 10px auto;
    position: relative;
    width: fit-content;
    padding: 5px 5px 10px 10px;
  }
  .course-item img {
    height: 90px;
    width: 220px;
  }
}
